
@{
    ViewData["Title"] = "Home Page";
}
<a href="/">Logout</a>
<h1>Welcome to the Dojo Wall!</h1>


<h3>Post to the wall</h3>
<div>
    @if(ViewBag.MessageErrors != null)
    {
    <p>@ViewBag.MessageErrors[0]</p>
    }
</div>

<form action="/addmessage" method="post">
    <!-- <span asp-validation for="Content"></span> -->
    <textarea name="content" cols="70" rows="5"></textarea><br>
    <input type="submit" value="Post Message!">

</form>

<h3>See posts from your colleagues</h3>

<div class="messages">
@if(ViewBag.OrderedMessage != null)
{
    foreach( var message in ViewBag.OrderedMessage)
    { 
        <div id="one">
            <p>@message.User.FirstName, on @message.CreatedAt.ToString("F")</p>
            <p>"@message.Content"</p>
            <h6>Comments:</h6>
            @{
            foreach( var comment in @message.Comments)
            {
                <p> - "@comment.Content", @comment.User.FirstName, on @comment.CreatedAt.ToString("F")</p>
            }
            }
            <form action="/postcomment" method="post">
                <h5>Post a Comment:</h5>
                <textarea name="content" cols="60" rows="2" value=""></textarea><br>
                <input type="hidden" name="MessageId" value="@message.MessageId">
                <input type="submit" value="Post a comment"><hr>
            </form>

            <div>
                @if(ViewBag.CommentErrors != null)
                {
                    <p>@ViewBag.CommentErrors[0]</p>
                }
</div>
        </div>
        
    }
}
</div>